.article {
  padding: 35px 0 25px;
}

.article__container {
  padding: 25px 0;
}

.article__title {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 900;
}

.article__text:not(:last-child) {
  margin-bottom: 30px;
}

.section {
  padding: 25px 0;
}

.section__container {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.section__title {
  font-size: 36px;
  font-weight: 900;
}

.section__title_middle {
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
}

.section__img {
  display: block;
  margin: 0 auto;
}

.section__margin-bottom {
  margin-bottom: 30px;
}

.section__item:not(:last-child) {
  margin-bottom: 10px;
}

.section__link {
  color: #02535f;
  border-bottom: 1px solid #000;
}

.section__text-bold {
  font-weight: 700;
  text-transform: uppercase;
}

.section__align-center {
  text-align: center;
}

.section__wrapper-text {
  border: 1px solid #000;
}

.section__text_p {
  margin-bottom: 0;
  padding: 15px 30px;
}
