/* roboto-regular - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic-regular.woff2") format("woff2");
  font-display: swap;
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic-700.woff2") format("woff2");
  font-display: swap;
}

/* roboto-900 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-cyrillic-900.woff2") format("woff2");
  font-display: swap;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #fff;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
figure,
figcaption {
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}
